.button {
  /* min-width: 136px; */
  min-height: 44px;
  /* max-width: 136px; */
  width: 136px;

  background: none;

  display: block;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;

  border-radius: 5px;
  cursor: pointer;
}

.light {
  color: var(--white-color);
  border: solid 1px var(--white-color);
}

.dark {
  color: var(--black-color);
  border: solid 1px var(--black-color);
}

.active {
  background-color: var(--accent-color);
  border: none;
  color: var(--white-color);
}

.button:hover {
  background-color: var(--accent-color);
  border: none;
  color: var(--white-color);
}

@media screen and (max-width: 480px) {
  .button {
    width: 110px;
  }
}
