.button {
  min-width: 136px;
  min-height: 44px;

  background: none;

  display: block;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;

  border-radius: 5px;
  cursor: pointer;
}

.light {
  color: var(--white-color);
  border: solid 1px var(--white-color);
}

.dark {
  color: var(--black-color);
  border: solid 1px var(--black-color);
}

.active {
  background-color: var(--accent-color);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  border: none;
}
