.container {
  margin: 0 auto 0 auto;
  padding: 0 15px;
  /* width: 1200px; */
  max-width: 310px;
}

@media screen and (min-width: 425px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 882px;
  }
}
