.header {
  padding-top: 40px;
  width: 100%;
  height: 231px;
  background-size: cover;

  border: none;
}

.homebg {
  background-image: url('/src/images/main-background.jpg');
  background-position: center;
}

.librarybg {
  background-image: url('/src/images/library-bg.jpg');
  background-position: bottom;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  display: flex;
}

.link {
  display: flex;
  align-items: baseline;
}

.title {
  margin-left: 12px;
  display: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #fff;

  transition-property: transform;
  /* transition-duration: var(--duration); */
  /* transition-timing-function: var(--transition-fun); */
}

/* .menu:hover .tile {
  transform: scale(1.1);
} */

@media screen and (min-width: 425px) {
  .title {
    display: block;
  }
}

.buttonsContainer {
  padding-top: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
